In [1]:
%config IPCompleter.greedy=True

In [2]:
import os
import pandas as pd

data_dir = "../data/"
datasets_fn = [
    (data_dir + file)
    for file in os.listdir(data_dir)
]

datasets = [
    pd.read_csv(file_name)
    for file_name in datasets_fn
]

datasets[0]

,transactionid,commitdate,ns,nm,nf,entropy,la,ld,lt,fix,ndev,pd,npt,exp,rexp,sexp,bug
0,7,2003/10/10 16:10,1,1,3,0.581676,0.065669,0.021729,690.333333,1,6,36,0.666667,3709,1752.666667,3709,1
1,13,2002/5/14 7:42,1,1,1,0.000000,0.002985,0.008955,670.000000,0,3,0,1.000000,13391,7983.500000,13391,0
2,14,2002/5/13 15:48,1,2,2,0.000000,0.000000,0.000000,34.500000,0,1,7,1.000000,1508,1508.000000,1508,1
3,16,2002/4/5 8:48,1,1,3,0.000000,0.000000,0.000000,0.000000,0,1,458,0.666667,12804,8025.500000,12804,0
4,28,2001/8/24 15:14,1,37,429,0.622239,0.217704,0.266461,170.533800,0,1,835,0.018648,6003,6003.000000,6003,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35381,181905,2002/5/29 5:54,1,1,1,0.000000,0.195402,0.063218,174.000000,0,3,14,1.000000,2181,1735.500000,2181,0
35382,181911,2002/2/12 13:00,1,1,1,0.000000,0.039216,0.058824,102.000000,0,2,0,1.000000,1330,1310.500000,1330,0
35383,181940,2001/6/8 8:47,1,7,14,0.873983,0.341429,0.172857,50.000000,0,1,91,0.357143,2864,2864.000000,2864,0
35384,181947,2001/9/24 11:33,1,5,15,0.651762,0.098094,0.071130,143.400000,0,9,261,0.800000,439,439.000000,439,0
35385,181949,2001/7/16 9:27,1,5,27,0.899915,0.083799,0.084420,59.666667,0,2,1115,0.518519,83,83.000000,83,0

In [3]:
from sklearn.model_selection import KFold

kf_splitter = KFold(n_splits=10, shuffle=False, random_state=None)

def split_train_data(dataset):
    """Returns all the experiments with each experiment represented
    as a tuple: (training data, testing data)"""
    return [
        (dataset.iloc[train_indicies], dataset.iloc[test_indicies])
        for train_indicies, test_indicies in kf_splitter.split(dataset)
    ]

# Contains (train, test) for all data sets
splitted_data = [
    split_train_data(data)
    for data in datasets
]

data_train, data_test = splitted_data[0][0]
data_train

,transactionid,commitdate,ns,nm,nf,entropy,la,ld,lt,fix,ndev,pd,npt,exp,rexp,sexp,bug
3539,23475,2005/4/21 10:05,1,1,1,0.000000,0.000000,0.000000,0.000000,0,1,0,1.000000,440,429.000000,440,0
3540,23479,2005/6/2 9:34,1,1,1,0.000000,0.000000,0.000000,0.000000,0,1,0,1.000000,643,596.000000,643,0
3541,23487,2006/11/23 4:06,1,1,1,0.000000,0.038961,0.012987,77.000000,0,7,240,1.000000,22233,3041.915332,22233,0
3542,23497,2004/2/17 10:09,1,1,1,0.000000,0.125000,0.000000,40.000000,0,3,35,1.000000,17782,4493.766667,17782,0
3543,23499,2003/10/4 6:07,1,2,2,0.591673,0.031785,0.002445,204.500000,0,3,141,1.000000,17287,5146.750000,17287,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35381,181905,2002/5/29 5:54,1,1,1,0.000000,0.195402,0.063218,174.000000,0,3,14,1.000000,2181,1735.500000,2181,0
35382,181911,2002/2/12 13:00,1,1,1,0.000000,0.039216,0.058824,102.000000,0,2,0,1.000000,1330,1310.500000,1330,0
35383,181940,2001/6/8 8:47,1,7,14,0.873983,0.341429,0.172857,50.000000,0,1,91,0.357143,2864,2864.000000,2864,0
35384,181947,2001/9/24 11:33,1,5,15,0.651762,0.098094,0.071130,143.400000,0,9,261,0.800000,439,439.000000,439,0
35385,181949,2001/7/16 9:27,1,5,27,0.899915,0.083799,0.084420,59.666667,0,2,1115,0.518519,83,83.000000,83,0

In [16]:
def split_input_output(data):
    """Split the data into the information and the answer"""
    X = data
    X = X.drop('bug', axis=1)
    X = X.drop('transactionid', axis=1)
    X = X.drop('commitdate', axis=1)
    Y = data['bug']
    return (X, Y)

input_output_data = [
    [
        (split_input_output(train_data), split_input_output(test_data))
        for train_data, test_data in dataset
    ]
    for dataset in splitted_data
]

# First dataset, First experiment, Training data, data for training
input_output_data[0][0][0][0]

,ns,nm,nf,entropy,la,ld,lt,fix,ndev,pd,npt,exp,rexp,sexp
3539,1,1,1,0.000000,0.000000,0.000000,0.000000,0,1,0,1.000000,440,429.000000,440
3540,1,1,1,0.000000,0.000000,0.000000,0.000000,0,1,0,1.000000,643,596.000000,643
3541,1,1,1,0.000000,0.038961,0.012987,77.000000,0,7,240,1.000000,22233,3041.915332,22233
3542,1,1,1,0.000000,0.125000,0.000000,40.000000,0,3,35,1.000000,17782,4493.766667,17782
3543,1,2,2,0.591673,0.031785,0.002445,204.500000,0,3,141,1.000000,17287,5146.750000,17287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35381,1,1,1,0.000000,0.195402,0.063218,174.000000,0,3,14,1.000000,2181,1735.500000,2181
35382,1,1,1,0.000000,0.039216,0.058824,102.000000,0,2,0,1.000000,1330,1310.500000,1330
35383,1,7,14,0.873983,0.341429,0.172857,50.000000,0,1,91,0.357143,2864,2864.000000,2864
35384,1,5,15,0.651762,0.098094,0.071130,143.400000,0,9,261,0.800000,439,439.000000,439
35385,1,5,27,0.899915,0.083799,0.084420,59.666667,0,2,1115,0.518519,83,83.000000,83

In [18]:
from sklearn import ensemble
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

params = {
    'n_estimators': 1200,
    'max_depth': 3,
    'subsample': 0.5,
    'learning_rate': 0.01,
    'min_samples_leaf': 1,
    'random_state': 3
}
clf = ensemble.GradientBoostingClassifier(**params)

# First dataset, First experiment, Training data, data for training
# input_output_data[0][0][0][0]

for ds_num, dataset in enumerate(input_output_data):
    for exp_num, experiment in enumerate(dataset):
        training, testing = experiment
        
        x_train = training[0]
        y_train = training[1]
        
        x_test = testing[0]
        y_test = testing[1]
        
        clf.fit(x_train, y_train)
        y_predicted_test = clf.predict(x_test)
        
        accuracy = accuracy_score(y_test, y_predicted_test)
        precision = precision_score(y_test, y_predicted_test)
        recall = recall_score(y_test, y_predicted_test)
        f1 = f1_score(y_test, y_predicted_test)
        
        print("DS: {}\tExp {}\tAccuracy: {:.4f}\tPrecision: {:.4f}\tRecall: {:.4f}\tF1-Score: {:.4f}".format(
            ds_num,
            exp_num,
            accuracy,
            precision,
            recall,
            f1))
#         print(precision_score(y_test, clf.predict(x_test)))
        
        
# X_train = input_output_data[0][0][0][0]
# y_train = input_output_data[0][0][0][1]

# X_test = input_output_data[0][0][1][0]
# y_test = input_output_data[0][0][1][1]

# clf.fit(X_train, y_train)
# acc = clf.score(X_test, y_test)
# print("Accuracy: {:.4f}".format(acc))

DS: 0	Exp 0	Accuracy: 0.8601	Precision: 0.6809	Recall: 0.1210	F1-Score: 0.2055
DS: 0	Exp 1	Accuracy: 0.8584	Precision: 0.5966	Recall: 0.1355	F1-Score: 0.2208
DS: 0	Exp 2	Accuracy: 0.8895	Precision: 0.7547	Recall: 0.0957	F1-Score: 0.1699

KeyboardInterrupt: